$primary-500: #003082; // blue
$primary-600: #F2A74B; // orange

$secondary-200: #46F57D; // positive green blue
$secondary-300: #F54654; // negative red
$secondary-400: #438DEF; // lighter blue
$secondary-500: #0459C9; // light blue
$secondary-600: #F2CF4A; // light orange
$secondary-700: #5C6F88; // blue gray

$achromatic-100: #FFFFFF; // white
$achromatic-200: #F2F2F2; // white gray
$achromatic-300: #F4F4F4; // light gray
$achromatic-400: #F8F9FA; // lite gray
$achromatic-500: #CED4DA; // solar gray
$achromatic-550: #E9E9EC; // gloss gray
$achromatic-600: #EAEAEA; // ice gray
$achromatic-700: #6E7289; // dark gray
$achromatic-800: #333333; // gray black
$achromatic-900: #0E0E0E; // black