$primary-500: #003082; // blue
$primary-600: #F2A74B; // orange

$secondary-500: #0459C9; // light blue
$secondary-600: #F2CF4A; // light orange

$achromatic-100: #FFFFFF; // white
$achromatic-200: #F2F2F2; // white gray
$achromatic-300: #F4F4F4; // light gray
$achromatic-600: #EAEAEA; // ice gray
$achromatic-700: #6E7289; // dark gray
$achromatic-800: #333333; // gray black
$achromatic-900: #0E0E0E; // black