@media screen and (min-width: 325px) {
   .access--container {
      display: none;
   }
};

@media screen and (min-width: 768px) {
   .access--container {
      display: none;
   }
};

@media screen and (min-width: 1280px) {
   .access--container {
      display: flex;
      flex-direction: column;
      border-left: 0.059rem solid $achromatic-500;
      padding: 0;
      height: 100%;;
   }

   .access--profile-case {
      display: flex;
      align-items: center;
      padding: 1.4rem 2.353rem 2.529rem;
      line-height: 0.8;
      border-bottom: 0.059rem solid $achromatic-500;
   }

   .access--profile-details {
      margin-left: 0.529rem;
   }

   .access--three-dot-case {
      border: 0.059rem solid $achromatic-500;
      border-radius: 0.235rem;
      margin-left: 4.706rem;
   }

   .access--three-dots {
      color: $secondary-700;
      opacity: 0.75;
   }

   .access--heading {
      padding: 1.882rem 2.353rem 0;
   }

   .access--week-to-date-case {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      padding: 0 2.353rem 0.765rem;
      margin-top: 1.4rem;
      border-bottom: 0.059rem solid $achromatic-500;
   }

   .access--detail-case {
      display: flex;
      gap: 0.5rem;
   }
};