@media screen and (min-width: 325px) {
   .input--container {
      display: flex;
      flex-direction: column;
   }

   .input--employee-id,
   .input--password {
      align-self: center;
      border: 1px solid transparent;
      border-radius: 7.5px;
      height: 3rem;
      width: 80vw;
      max-width: 24.11rem;
      background-color: $achromatic-300;
   }

   .input--employee-id {
      margin-top: 1rem;
   }

   .input--password {
      margin-top: 1rem; 
   }
}

@media screen and (min-width: 767px) {
   .input--employee-id,
   .input--password {
      width: 34.35vw;
   }
}

@media screen and (min-width: 1200px) {
   .input--employee-id,
   .input--password {
      width: 40vw;
      max-width: unset;
   }
}