@media screen and (min-width: 325px) {
   .sidebar--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4.353rem;
      padding: 0.706rem;
      background-color: $achromatic-100;
      border-bottom: 0.059rem solid $achromatic-500;
   }

   .sidebar--case {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: min-content;
      height: 2.118rem;
   }
   
   .sidebar--logo-case {
      height: 2.118rem;
   }
   
   .sidebar--logo {
      height: 2.118rem;
   }

   .sidebar--burger-icon {
      display: flex;
      justify-content: center;
      width: 2.353rem;
      border-radius: 0.471rem;
      box-shadow: 0rem 0rem 0.2rem .1rem $achromatic-600;
      cursor: pointer;
   }
   
   .sidebar--list-icon {
      height: 2.12rem;
      color: $achromatic-700;
   }

   .sidebar--menu-case {
      display: none;
   }
}

@media screen and (min-width: 768px) {
   .menu--shell {
      display: none;
   }

   .sidebar--case {
      display: none;
   }

   .sidebar--parent {
      background-color: aqua;
      width: min-content;
   }

   .sidebar--container {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      width: 14.824rem;
      height: 100vh;
      padding: 1.411rem 0.588rem 1.411rem 1.411rem;
      background-color: $achromatic-200;
   }

   .sidebar--logo-case {
      width: 100%;
   }

   .sidebar--burger-icon {
      display: none;
   }

   .sidebar--menu-case {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1.294rem;
   }

   .menu--item {
      display: flex;
   }

   .menu--item:not(:first-child) {
      margin-top: 1rem;
   }

   .active {
      width: auto;
   }
}

@media screen and (min-width: 1280px) {
   .sidebar--container {
      padding: 1.882rem 2.82rem 0;
      width: 292px;
      height: 100%;
      border-right: solid 0.059rem $achromatic-500;
   }

   .sidebar--logo-case {
      display: none;
   }

   .sidebar--menu-case {
      margin-top:1.88rem;
   }
}