$primary-500: #033E8C; // blue
$primary-600: #F2A74B; // orange

$secondary-500: #0459C9; // light blue
$secondary-600: #F2CF4A; // light orange

$achromatic-200: #F2F2F2; // white
$achromatic-700: #6E7289; // dark gray
$achromatic-900: #333333; // black

*, *::before, *::after {
   box-sizing: border-box;
}

* {
	margin: 0;
	background-color: $achromatic-700;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

/*

const = {
	blue: '033E8C',
	lightBlue: '0459C9',
	orange: 'F2A74B',
	lightOrange: 'F2CF4A',
	white: 'F2F2F2',
	black: '333333'
	darkGrey: '6E7289',
	
}

1. Use a more-intuitive box-sizing model.

\*, *::before, *::after {
box-sizing: border-box;
}

2. Remove default margin

\* {
margin: 0;
}

Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

5. Improve media defaults

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

6. Remove built-in form typography styles

input, button, textarea, select {
font: inherit;
}

7. Avoid text overflows

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

8. Create a root stacking context

#root, #__next {
isolation: isolate;
}
*/
