*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2; }

html {
  font-size: 16px; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

#root, #__next {
  isolation: isolate; }

.form--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 50vh;
  background-color: red; }

.form--logo {
  width: 76.92vw;
  max-width: 250px;
  margin: 0 auto 1rem; }

.login--container {
  position: relative;
  width: 100vw;
  height: 100vh; }
