@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 17px; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

#root, #__next {
  isolation: isolate; }

input[type="number"] {
  -webkit-appearance: none;
  appearance: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none; }

@media screen and (min-width: 325px) {
  body {
    font-family: "Poppins", system-ui, Tahoma, monaco, sans-serif; }
  .form--heading {
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: #003082; }
  .input--container {
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  ::placeholder {
    font-size: 0.76rem;
    font-weight: 300;
    color: #333333; }
  .input--password,
  .input--employee-id {
    text-indent: 0.75rem; }
  .button--login {
    color: #FFFFFF; }
  .form--trouble {
    font-style: normal;
    font-weight: 600;
    font-size: 0.76rem;
    line-height: normal;
    color: #003082;
    text-decoration: none; }
  .menu--title {
    font-style: normal;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; } }

@media screen and (min-width: 767px) {
  .form--heading {
    font-style: normal;
    font-size: 4.5vw;
    font-weight: 700;
    line-height: normal; }
  ::placeholder {
    font-size: 0.82rem;
    font-weight: 300;
    color: #333333; }
  .button--login {
    font-style: normal;
    font-size: 1.18rem;
    font-weight: 400;
    line-height: normal; }
  .form--trouble {
    font-style: normal;
    font-weight: 600;
    font-size: 0.82rem;
    line-height: normal; }
  .sidebar--heading {
    font-style: normal;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #6E7289; } }

@media screen and (min-width: 1200px) {
  .form--heading {
    font-style: normal;
    font-size: 3.53rem;
    font-weight: 700;
    line-height: normal; }
  ::placeholder {
    font-size: 0.88rem;
    font-weight: 300;
    color: #333333; } }

@media screen and (min-width: 325px) {
  .button--container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem; }
  .button--login {
    margin: 0 auto;
    width: 80vw;
    max-width: 24.11rem;
    height: 3rem;
    border: none;
    border-radius: 7.5px;
    background-color: #0459C9; } }

@media screen and (min-width: 767px) {
  .button--login {
    width: 34.35vw;
    margin-top: 2rem; } }

@media screen and (min-width: 325px) {
  .input--container {
    display: flex;
    flex-direction: column; }
  .input--employee-id,
  .input--password {
    align-self: center;
    border: 1px solid transparent;
    border-radius: 7.5px;
    height: 3rem;
    width: 80vw;
    max-width: 24.11rem;
    background-color: #F4F4F4; }
  .input--employee-id {
    margin-top: 1rem; }
  .input--password {
    margin-top: 1rem; } }

@media screen and (min-width: 767px) {
  .input--employee-id,
  .input--password {
    width: 34.35vw; }
  .input--employee-id {
    margin-top: 3rem; }
  .input--password {
    margin-top: 2rem; } }

@media screen and (min-width: 1200px) {
  .input--employee-id,
  .input--password {
    width: 36.5vw;
    max-width: unset; } }

@media screen and (min-width: 325px) {
  .form--container {
    position: absolute;
    top: 67.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 65vh;
    border-radius: 20px 20px 0 0;
    padding: 4rem 1rem;
    gap: 1rem;
    background-color: #FFFFFF; }
  .form--wide-logo {
    width: 82vw;
    max-width: 24.11rem;
    margin: 0 auto;
    background-color: transparent; }
  .form--square-logo {
    display: none; }
  .form--heading {
    margin-top: 2.5rem; }
  .form--trouble {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center; } }

@media screen and (min-width: 767px) {
  .form--container {
    top: 50%;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    width: 80vw;
    padding: 0 2.5rem; }
  .form--img-case,
  .form--input-case {
    width: calc((68.89vw / 2) - .1rem); }
  .form--img-case {
    display: flex;
    align-items: center;
    height: 100%; }
  .form--wide-logo {
    display: none; }
  .form--square-logo {
    display: block; }
  .form--input-case {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    height: 100%; }
  .form--heading {
    margin-top: 4rem; } }

@media screen and (min-width: 1200px) {
  .form--container {
    width: 90vw; }
  .form--img-case,
  .form--input-case {
    width: calc((88.89vw / 2) - .5rem); }
  .form--wide-logo {
    display: block;
    width: 100%;
    max-width: unset; }
  .form--square-logo {
    display: none; } }

@media screen and (min-width: 325px) {
  .menu--container {
    display: flex;
    flex-direction: column;
    gap: 0.588rem;
    background-color: #F8F9FA;
    width: 100vw;
    padding: 0.706rem; }
  .menu--bar {
    display: flex;
    justify-content: space-between; }
  .menu--title {
    margin: auto 0;
    height: 100%;
    color: #6E7289; }
  .menu--icon {
    color: #6E7289;
    font-size: 2.353rem;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 2.353rem;
    border-radius: 0.471rem; }
  .menu--icon:hover {
    opacity: 0.25;
    cursor: pointer; }
  .menu--list-case {
    margin-top: 0.588rem; }
  .menu--list-case li:not(:first-child) {
    margin-top: 1rem; }
  .menu--item {
    display: flex;
    align-items: center;
    gap: 0.471rem;
    border-radius: 0.25rem;
    padding: 0.471rem 0.941rem;
    list-style: none;
    height: 2.353rem;
    width: 16.882rem;
    cursor: pointer; }
  .menu--item:hover {
    opacity: 0.5;
    color: #333333;
    cursor: pointer; }
  .active,
  .active * {
    background-color: #438DEF;
    color: #FFFFFF; }
  .menu--link {
    cursor: pointer;
    text-decoration: none; }
  .menu--link:visited,
  .menu--link:link {
    color: #0E0E0E; }
  .menu--support-bar {
    margin-top: 0.588rem; }
  .menu--support-list-case {
    margin-top: 0.588rem; }
  .menu--support-list-case li:not(:first-child) {
    margin-top: 1rem; } }

@media screen and (min-width: 325px) {
  .sidebar--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.353rem;
    padding: 0.706rem;
    background-color: #FFFFFF; }
  .sidebar--case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min-content;
    height: 2.118rem; }
  .sidebar--logo-case {
    height: 2.118rem; }
  .sidebar--logo {
    height: 2.118rem; }
  .sidebar--burger-icon {
    display: flex;
    justify-content: center;
    width: 2.353rem;
    border-radius: 0.471rem;
    box-shadow: 0rem 0rem 0.2rem 0.1rem #EAEAEA;
    cursor: pointer; }
  .sidebar--list-icon {
    height: 2.12rem;
    color: #6E7289; }
  .sidebar--menu-case {
    display: none; } }

@media screen and (min-width: 768px) {
  .menu--shell {
    display: none; }
  .sidebar--case {
    display: none; }
  .sidebar--container {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    width: 14.824rem;
    height: 100vh; }
  .sidebar--logo-case {
    width: 100%; }
  .sidebar--burger-icon {
    display: none; }
  .sidebar--menu-case {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.294rem; }
  .menu--item {
    display: flex; }
  .menu--item:not(:first-child) {
    margin-top: 1rem; }
  .active {
    width: auto; } }

.login--container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #003082; }

.menu--shell {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.075); }
