@media screen and (min-width: 325px) {
   .parts--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
   }
   
   .parts--add-case {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 5.5rem;
      padding: 0 0.706rem; 
      border-bottom: 0.059rem solid $achromatic-500;
      background-color: $achromatic-200;
   }

   .parts--add-title {
      align-self: center;
   }
   
   .parts--add-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      width: 9.941rem;
      border: none;
      border-radius: 0.235rem;
      background-color: $secondary-400;
      color: $achromatic-100;
   }

   .button--container {
      margin: 0;
      height: 2.176rem;
   }
   
   .parts--title-case {
      margin-top: 1rem;
      padding: 0.705rem 0; 
   }
   
   .parts--table-case {
      align-self: start;
      border-collapse: collapse;
      width: 100%;
      text-align: center;
      overflow: hidden;
      margin-top: 1.117rem;
   }

   .parts--row-head {
      background-color: $achromatic-200;
   }
}