@media screen and (min-width: 325px) {
   .parts--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
   }
   
   .parts--add-case {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 5.5rem;
      padding: 0 0.706rem; 
      border-bottom: 0.059rem solid $achromatic-500;
      background-color: $achromatic-200;
   }

   .parts--add-title {
      align-self: center;
   }
   
   .parts--add-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      width: 9.941rem;
      border: none;
      border-radius: 0.235rem;
      background-color: $secondary-400;
      color: $achromatic-100;
   }

   .button--container {
      margin: 0;
      height: 2.176rem;
   }

   .parts--table-container {
      
   }
   
   // .parts--title-case {
   //    width: 100%;
   //    margin-top: 1rem;
   //    padding: 0.705rem 0 0.705rem 1.411rem; 
   // }
   
   // .parts--table-case {
   //    table-layout: fixed;
   //    align-self: start;
   //    border-collapse: collapse;
   //    width: 100%;
   //    text-align: center;
   //    overflow: hidden;
   //    margin-top: 1.117rem;
   // }

   // .parts--row-head {
   //    background-color: $achromatic-200;
   // }

   // .parts--heading-case {
   //    text-align: left;
   // }

   // .parts--heading-case th {
   //    height: 3.833rem;
   //    background-color: $achromatic-200;
   // }

   // .parts--heading-case th:nth-child(1) {
   //    display: flex;
   //    justify-content: center;
   //    width: 4.058rem;
   //    padding: 0 1.411rem;
   //    background-color: antiquewhite;
   // }

   // .parts--haeding-case th input {
   //    display: flex;
   //    align-self: center;
   // }

   // .parts--tr-case {
   //    display: flex;
   // }
   
   // .parts--heading-case th:nth-child(2) {
   //    display: flex;
   //    width: 7.839rem;
   //    padding-left: 2rem;
   //    align-items: center;
   // }

   // .parts--heading-case th:nth-child(3) {
   //    width: 8.234rem;
   //    padding-left: 1.411rem;
   // }
   
   // .parts--heading-case th:nth-child(4) {
   //    width: 8.234rem;
   //    padding-left: 1.411rem;
   // }
   
   // .parts--heading-case th:nth-child(5) {
   //    width: 9rem;
   // }
   
   // .parts--heading-case th:nth-child(6) {
   //    width: 8.234rem;
   //    padding-left: 1.411rem;
   // }
   
   // .parts--heading-case th:nth-child(7) {
   //    width: 8.234rem;
   //    padding-left: 1.411rem;
   // }
   
   // .parts--heading-case th:nth-child(8) {
   //    width: 19.117rem;
   // }
   
   // .parts--heading-case th:nth-child(9) {
   //    width: 8.234rem;
   //    padding-left: 1.411rem;
   // }
   
   // .parts--heading-case th:nth-child(10) {
   //    width: 8.234rem;
   //    padding-left: 1.411rem;
   // }
   
   // .parts--heading-case th:nth-child(11) {
   //    width: 8.234rem;
   //    padding-left: 1.411rem;
   // }

   // .parts--tbody-case {   
   //    background-color: blue;
   // }

}