*, *::before, *::after {
   box-sizing: border-box;
}

* {
	margin: 0;
   padding:0;
	background-color: $achromatic-200;
}

html {
   font-size: 17px;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
   box-sizing: border-box;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}