// font stack

$font-stack: system-ui, Tahoma, monaco, sans-serif;

// font sizes 

$px-10: 0.59rem;
$px-11: 0.65rem;
$px-12: 0.71rem;
$px-13: 0.76rem;
$px-14: 0.82rem;
$px-15: 0.88rem;
$px-16: 0.94rem;
$px-17: 1.00rem;
$px-19: 1.12rem;
$px-20: 1.18rem;
$px-24: 1.41rem;
$px-30: 1.76rem;
$px-34: 2.00rem;
$px-36: 2.12rem;
$px-48: 2.82rem;
$px-60: 3.53rem;
$px-72: 4.24rem;
$px-84: 4.94rem;

// font classes (starting with mobile)

$font-size-heading: $px-34;
$font-size-body: $px-17; // titles, page modals e.g. home/music/albums/songs, paragraphs, links, form controls and buttons 
$font-size-sub-body: $px-15;
$font-size-details: 0.76rem;
$font-size-tabar: 0.59rem;

// Headings

@mixin font-heading-regular {
   font-style: normal;
   // font-size: ;
}

// Paragraphs

@mixin font-paragraph-regular {
   font-style: normal;
   font-family: "Poppins", $font-stack;
   font-weight: 400;
   line-height: normal;
}

.form--heading {
   
}

.input--container {
   @include font-paragraph-regular();
}